<!DOCTYPE html>
<html lang="es">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Mensajes</title>
</head>

<body>
<h1>Ponte algo</h1>
<ul>
  {% for item in lista %}
    <li><b>{{ item.mensaje }}</b></li>
  {% endfor %}
</ul>
  <form action="/mensajes" method="POST">
    <input type="text" id="mensaje" name="mensaje" >
    <input type="submit">
  </form>


</body>
</html>